@media only screen and (max-width:768px) {
    .example2{
        > div:nth-child(2){
          display: block;
        }
        > div:nth-child(1){
          display: none;
        }
        > div:nth-child(3){
          display: none;
        }
        > div:nth-child(4){
          display: block;
        }
        > div:nth-child(5){
          display: block;
        }
        > div:nth-child(6){
          display: none;
        }
        > div:nth-child(7){
          display: block;
        }
        > div:nth-child(8){
          display: none;
        }
        > div:nth-child(9){
          display: block;
        }
        > div:nth-child(10){
          display: block;
        }
        > div:nth-child(11){
          display: none;
        }
        > div:nth-child(12){
          display: block;
        }
      }   

.header {
  width: 100%;
  height: 425px;
  background-size: contain;
  background-image: url("../images/rectangle.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .names {
    margin-top: 1px;
    margin-right: -60px;
  }
  .sign {
    width: 70px;
    font-size: 13px;
    color: green;
    border: 2px solid green;
    border-radius: 50px;
    margin-right: 111px;
  }
  text {
    text-align: center;
    width: 70px;
    margin-top: 10px;
  }
  .company {
    color: green;
    text-align: center;
    height: 57.75px;
    width: 100%;
    margin-top: 70px;
    img {
      margin-top: -30px;
      width: 170px;
      height: 45.75px;
    }
  }
}
.one-customer {
  margin: 0 3%;
  img {
    margin-top: 40px;
  }
}
.in-heard {
  text-align: center;
  margin-top: -68px;
  div {
    text-align: center;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .icon {
    font-size: 35px;
  }
  .text1 {
    margin-top: 10px;
    font-size: 25px;
  }
}
.lorem {
  text-align: center;
  font-size: 13px;
  margin-top: -10px;
}
.start {
  text-align: center;
  width: 121px;
  height: 42px;
  margin-top: 5px;
  font-size: 15px;
  background-image: linear-gradient(to right, #429321, #b4ec51);
  color: white;
  border: 1px solid green;
  border-radius: 60px;
}
.today {
  .in-today {
    margin-top: 40px;
    text-align: center;
    width: 231px;
    height: 48px;
    .icon-today {
      font-size: 35px;
      .ti-bookmark-alt {
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }
  .img-today {
    img {
      margin-top: 10px;
      height: 250px;
      width: 350px;
    }
  }
  .grade-on {
    margin-top: 100px;
    .size {
      font-size: 14px;
      text-align: justify;
      width: 250px;
      margin-right: -16px;
    }
  }
}
.start1 {
  text-align: center;
  width: 121px;
  height: 42px;
  margin-top: 35px;
  margin-left: 25px ;
  font-size: 15px;
  background-image: linear-gradient(to right, #429321, #b4ec51);
  color: white;
  border: 1px solid green;
  border-radius: 40px;
}
.daily-report {
  .in-report {
    margin-top: 35px;
    text-align: center;
    .icon-report {
      font-size: 35px;
      .ti-write {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
  .size-report {

    font-size: 14px;
    margin-top: 45px;
    text-align: justify;

  }
  .img-report {
    img{
      width: 315px;
      height: 250px;
      margin-left: 35px;
      margin-top: 25px;
    }
  }
}
.members {
  .in-members {
    margin-top: 35px;
    text-align: center;
    .icon-members {
      font-size: 35px;
      .ti-user {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    .size-members {
      text-align: center;
    }
  }
  .img-members {
    img {
      margin-top: 30px;
      width: 353px;
      height: 273px;
    }
  }
}
.customers {
  .in-customers {
    text-align: center;
    margin-top: 30px;
    .icon-customers{
      font-size: 35px;
      .ti-face-smile {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    .size-customers {
      font-size: 16px;
      text-align: center;
    }
  }
  .img-customers {
    img {
      margin-top: 20px;
      width: 356px;
      height: 250px;
      margin-left: -10px;
    }
  }
  .font-customers {
    .font1 {
      margin-right: 25px;
      font-size: 15px;
      text-align: justify;
    }
  }
  .start4 {
    text-align: center;
    width: 121px;
    height: 42px;
    margin-top: 40px;
    font-size: 15px;
    background-image: linear-gradient(to right, #429321, #b4ec51);
    color: white;
    border: 1px solid green;
    border-radius: 40px;
  }
}
.project {
  .in-project {
    text-align: center;
    margin-top: -20px;
    .icon-project {
      font-size: 35px;
      .ti-calendar {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    .size-project {
      margin-top: -18px;
      font-size: 17px;
    }
  }
  .font-project {
    margin-top: -15px;
    font-size: 14px;
    text-align: justify;
  }
  .img-project {
    img {
      margin-top: -15px;
      margin-left: -14px;
    }
  }
  .start5 {
    text-align: center;
    width: 121px;
    height: 42px;
    margin-top: 20px;
    margin-left: 0px ;
    font-size: 15px;
    background-image: linear-gradient(to right, #429321, #b4ec51);
    color: white;
    border: 1px solid green;
    border-radius: 40px;
  }
}
.footer {
  background-color: #39474e;
  width: 100%;
  float: left;
  .justify-content-center {
      text-align: center;
      color: white;
      margin-top: 50px;
      .company {
          font-size: 25px;
          color: rgb(43, 231, 43);
      }
      .names {
          font-size: 12px;
          color: rgb(43, 231, 43);
      }
      .name {
          font-size: 11px;
          color:rgb(43, 231, 43); ;
      }
      .in-names {
          margin-top: 8px;
          font-size: 12px;
      }
      .in-name {
        margin-top: 11px;
        font-size: 11px;
      }
      .col-12
      .col-sm-12{
      position: relative;
      width: 100%;
      padding-right: 0px;
      margin-left: 0px;
      }
  }
}
.radical {
    color: rgb(43, 231, 43);
    margin-top: 55px;
    margin-left: -5px;
}
}

@media only screen and (max-width:480px) {
  .example2{
      > div:nth-child(2){
        display: block;
      }
      > div:nth-child(1){
        display: none;
      }
      > div:nth-child(3){
        display: none;
      }
      > div:nth-child(4){
        display: block;
      }
      > div:nth-child(5){
        display: block;
      }
      > div:nth-child(6){
        display: none;
      }
      > div:nth-child(7){
        display: block;
      }
      > div:nth-child(8){
        display: none;
      }
      > div:nth-child(9){
        display: block;
      }
      > div:nth-child(10){
        display: block;
      }
      > div:nth-child(11){
        display: none;
      }
      > div:nth-child(12){
        display: block;
      }
    }   
.header {
width: 100%;
height: 266px;
background-size: contain;
background-image: url("../images/rectangle1.png");
background-repeat: no-repeat;
background-size: 100% 100%;
  .names {
    margin-top: 1px;
    margin-right: -60px;
  }
  .sign {
    width: 78px;
    text-align: center;
    font-size: 12px;
    color: #a0e032;
    border: 2px solid #b4ec51;
    border-radius: 40px;
    margin-right: 100px;
  }
  text {
    text-align: center;
    width: 70px;
    margin-top: 10px;
  }
  .company {
    color: green;
    text-align: center;
    height: 57.75px;
    width: 100%;
    margin-top: 70px;
    img {
      margin-top: -60px;
      width: 130px;
      height: 35.75px;
    }
  }
}
.one-customer {
  margin: 0 3%;
  img {
    margin-top: 40px;
  }
}
.in-heard {
text-align: center;

div {
  text-align: center;
  margin-top: -10px;
  margin-left: 10px;
  margin-right: 10px;
  }
  .icon {
    font-size: 25px;
  }
  .text1 {
    font-size: 20px;
    margin-top: 1px;
  } 
}
.lorem {
text-align: center;
font-size: 9px;
margin-top: -10px;
}
.start {
text-align: center;
width: 121px;
height: 42px;
margin-top: 5px;
font-size: 15px;
background-image: linear-gradient(to right, #429321, #b4ec51);
color: white;
border: 1px solid green;
border-radius: 60px;
}
.today {
.in-today {
  margin-top: 40px;
  text-align: center;
  width: 231px;
  height: 48px;
  .icon-today {
    font-size: 35px;
    .ti-bookmark-alt {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
  i {
    font-size: 12px;
  }
}
.img-today {
  img {
    margin-top: 10px;
    height: 250px;
    width: 350px;
    }
  }
.grade-on {
  margin-top: 100px;
    .size {
      font-size: 14px;
      text-align: justify;
      width: 250px;
      margin-right: -16px;
    }
  }
}
.start1 {
text-align: center;
width: 121px;
height: 42px;
margin-top: 35px;
margin-left: 25px ;
font-size: 15px;
background-image: linear-gradient(to right, #429321, #b4ec51);
color: white;
border: 1px solid green;
border-radius: 40px;
}
.daily-report {
.in-report {
  margin-top: 35px;
  text-align: center;
  .icon-report {
    font-size: 35px;
    .ti-write {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
.size-report {

  font-size: 14px;
  margin-top: 45px;
  text-align: justify;

}
.img-report {
  img{
    width: 315px;
    height: 250px;
    margin-left: 35px;
    margin-top: 25px;
  }
}
}
.members {
.in-members {
  margin-top: 35px;
  text-align: center;
  .icon-members {
    font-size: 35px;
    .ti-user {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .size-members {
    text-align: center;
  }
}
.img-members {
  img {
    margin-top: 30px;
    width: 353px;
    height: 273px;
  }
}
}
.customers {
.in-customers {
  text-align: center;
  margin-top: 30px;
  .icon-customers{
    font-size: 35px;
    .ti-face-smile {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .size-customers {
    font-size: 16px;
    text-align: center;
  }
}
.img-customers {
  img {
    margin-top: 20px;
    width: 356px;
    height: 250px;
    margin-left: -10px;
  }
}
.font-customers {
  .font1 {
    margin-right: 25px;
    font-size: 15px;
    text-align: justify;
  }
}
.start4 {
  text-align: center;
  width: 121px;
  height: 42px;
  margin-top: 40px;
  font-size: 15px;
  background-image: linear-gradient(to right, #429321, #b4ec51);
  color: white;
  border: 1px solid green;
  border-radius: 40px;
}
}
.project {
.in-project {
  text-align: center;
  margin-top: -20px;
  .icon-project {
    font-size: 35px;
    .ti-calendar {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .size-project {
    margin-top: -18px;
    font-size: 17px;
  }
}
.font-project {
  margin-top: -15px;
  font-size: 14px;
  text-align: justify;
}
.img-project {
  img {
    margin-top: -15px;
    margin-left: -14px;
  }
}
.start5 {
  text-align: center;
  width: 121px;
  height: 42px;
  margin-top: 20px;
  margin-left: 0px ;
  font-size: 15px;
  background-image: linear-gradient(to right, #429321, #b4ec51);
  color: white;
  border: 1px solid green;
  border-radius: 40px;
}
}
.footer {
background-color: #39474e;
width: 100%;
float: left;
.justify-content-center {
    text-align: center;
    color: white;
    margin-top: 50px;
    .company {
        font-size: 25px;
        color: rgb(43, 231, 43);
    }
    .names {
        font-size: 12px;
        color: rgb(43, 231, 43);
    }
    .name {
        font-size: 11px;
        color:rgb(43, 231, 43); ;
    }
    .in-names {
        margin-top: 8px;
        font-size: 12px;
    }
    .in-name {
      margin-top: 11px;
      font-size: 11px;
    }
    .col-12
    .col-sm-12{
    position: relative;
    width: 100%;
    padding-right: 0px;
    margin-left: 0px;
    }
}
}
.radical {
  color: rgb(43, 231, 43);
  margin-top: 55px;
  margin-left: -5px;
}
}
