.total {
  background-color: white;
  width: 100%;
  height: 4795px;
}

.container {
  width: 100%;
  margin-top: 50px;
}
.container .col-12,
.container .col-sm-12 {
  margin-top: 20px;
  position: relative;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

#example1 {
  border: 2px solid;
  padding: 0px;
  box-shadow: 0px 4px 5px #888888;
}

.size {
  margin-top: 5px;
  font-size: 14px;
}

.size2 {
  font-size: 16px;
}

.header {
  height: 700px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/banner@2x.jpg");
  margin-top: 10px;
  font: 16px;
}
.header .names {
  margin-top: 10px;
  margin-right: 100px;
}
.header .sign {
  width: 67px;
  font-size: 13px;
  color: green;
  border: 2px solid green;
  border-radius: 50px;
  margin-right: 170px;
}
.header text {
  text-align: center;
  width: 70px;
  margin-top: 10px;
}
.header .company {
  color: green;
  text-align: center;
  height: 57.75px;
  width: 100%;
  margin-top: 70px;
}
.header .company img {
  width: 192px;
  height: 57.75px;
}

.in-heard div {
  text-align: center;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
}
.in-heard .icon {
  font-size: 36px;
  font-size: 42px;
  margin-top: 10px;
}

.lorem {
  text-align: center;
}

.start {
  margin-top: 10px;
  font-size: 12px;
  background-image: linear-gradient(to right, #429321, #b4ec51);
  color: white;
  border: 1px solid green;
  border-radius: 50px;
}

.content {
  width: 100%;
  height: 3743px;
  float: left;
}
.content .today {
  background-color: white;
  width: 100%;
  height: 571px;
  color: black;
}
.content .today .part2-right {
  width: 555px;
  height: 371px;
  margin-top: 100px;
}
.content .today .part2-right img {
  width: 500.25px;
  height: 400.25px;
  margin-left: 200px;
}
.content .today .part2-left {
  margin-top: 100px;
  width: 58px;
  height: 50px;
}
.content .today .part2-left .icon-content {
  font-size: 36px;
}
.content .today h2 {
  margin-top: 0px;
  width: 231px;
  height: 47.25px;
}
.content .today .word {
  width: 500.25px;
  height: 400.25px;
  margin-top: 145px;
  font-size: 16px;
  margin-left: -120px;
}
.content .today .word .start1 {
  text-align: center;
  width: 121px;
  height: 39px;
  margin-top: 0px;
  font-size: 17px;
  background-image: linear-gradient(to right, #429321, #b4ec51);
  color: white;
  border: 1px solid green;
  border-radius: 40px;
}
.content .daily-report {
  width: 100%;
  height: 576px;
}
.content .daily-report .part3-left {
  width: 555px;
  height: 450px;
  margin-top: 100px;
}
.content .daily-report .part3-left img {
  width: 500.25px;
  height: 400.25px;
  margin-left: 0px;
}
.content .daily-report .part3-right {
  text-align: left;
  margin-top: 100px;
  width: 450px;
  height: 350px;
}
.content .daily-report .part3-right .text-one {
  font-size: 36px;
}
.content .daily-report .part3-right .text-one .ti-write {
  margin-right: 15px;
}
.content .daily-report .part3-word {
  width: 500px;
  margin-top: 20px;
  font-size: 16px;
}

.start2 {
  text-align: center;
  width: 121px;
  height: 42px;
  margin-top: 10px;
  font-size: 15px;
  background-image: linear-gradient(to right, #429321, #b4ec51);
  color: white;
  border: 1px solid green;
  border-radius: 40px;
}

.rectangle {
  text-align: center;
  background-image: linear-gradient(to right, #429321, #b4ec51);
  width: 100%;
  height: 322px;
  color: white;
}
.rectangle .circle {
  width: 100px;
  height: 100px;
  border: 2px solid;
  border-radius: 100px;
  margin-top: 60px;
  padding-top: 30px;
}
.rectangle .circle .in-icon {
  font-size: 36px;
  padding-bottom: 15px;
}
.rectangle .circle1 {
  width: 40px;
  height: 40px;
  border: 2px solid;
  border-radius: 100px;
  padding-top: 5px;
  margin: -18px 0 20px 32px;
  background-image: linear-gradient(to right, #429321, #b4ec51);
}

.members {
  width: 100%;
  height: 576px;
}
.members img {
  margin-top: 50px;
  height: 400.25px;
  width: 500.25px;
}

.part4-right .one {
  margin-top: 50px;
  font-size: 36px;
}
.part4-right .one .ti-user {
  margin-right: 15px;
}

.ti-check-box {
  color: #429321;
  margin-right: 15px;
  font-size: 25px;
}

.start3 {
  text-align: center;
  width: 121px;
  height: 42px;
  margin-top: 20px;
  font-size: 15px;
  background-image: linear-gradient(to right, #429321, #b4ec51);
  color: white;
  border: 1px solid green;
  border-radius: 40px;
}

.customers {
  width: 100%;
  height: 578px;
}
.customers img {
  margin-left: 25px;
  width: 500.25px;
  height: 400.25px;
}

.part5-left .one1 {
  margin-top: 5px;
  font-size: 36px;
}
.part5-left .one1 .ti-face-smile {
  margin-right: 15px;
}

.ti-lock {
  color: #2be72b;
  margin-top: 10px;
  font-size: 25px;
  margin-right: 15px;
}

.ti-cup {
  color: #2be72b;
  margin-top: 10px;
  font-size: 25px;
  margin-right: 15px;
}

.ti-stats-up {
  color: #2be72b;
  font-size: 25px;
  margin-right: 15px;
}

.our-customer {
  color: white;
  height: 544px;
  background-size: cover;
  background: url("../images/rectangle3.png") no-repeat;
  margin-top: 13px;
  font-size: 10px;
}
.our-customer .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 160px;
  left: 0;
  z-index: 15;
}
.our-customer .carousel-indicators li {
  width: 12px;
  height: 12px;
  color: #d8d8d8;
  border: 2px solid #d8d8d8;
  border-radius: 50px;
  font-size: 15px;
  --webkit-border-radius: 10 px;
  margin-left: 25px;
}
.our-customer .fone2 {
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
}
.our-customer .justify-content-center {
  margin-top: 50px;
}
.our-customer p {
  margin-left: 13px;
  margin-top: 15px;
}
.our-customer .font-size {
  margin-left: 18px;
  font-size: 7px;
  margin-top: -16px;
}
.our-customer .in-our {
  margin-top: 50px;
}
.our-customer .in-our1 {
  font-size: 60px;
  color: #39474e;
  margin-top: -10px;
}
.our-customer .in-our2 {
  color: #506169;
  margin-top: 40px;
  font-size: 16px;
  width: 650px;
}
.our-customer .in-our3 {
  margin-top: 80px;
  font-size: 60px;
  color: #39474e;
  margin-left: -30px;
}

.container {
  margin-top: 30px;
}

.project {
  width: 100%;
  height: 576px;
}
.project .img {
  width: 570px;
  height: 400px;
}
.project .footer-content {
  font-size: 36px;
}
.project .footer-content .ti-calendar {
  margin-right: 15px;
}

.footer {
  background-color: #39474e;
  width: 100%;
  height: 179px;
  float: left;
}
.footer .justify-content-center {
  text-align: center;
  color: white;
  margin-top: 30px;
}
.footer .justify-content-center .company {
  font-size: 25px;
  color: #2be72b;
}
.footer .justify-content-center .names {
  font-size: 12px;
  color: #2be72b;
}
.footer .justify-content-center .in-names {
  margin-top: 8px;
  font-size: 12px;
}

.radical {
  color: #2be72b;
  margin-top: 50px;
}

/*# sourceMappingURL=style.css.map */
